@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl Regular"), local("SuisseIntl-Regular"),
    url(@/assets/fonts/Suisse_Intl/SuisseIntl-Regular.woff) format("woff"),
    url(@/assets/fonts/Suisse_Intl/SuisseIntl-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl Bold"), local("SuisseIntl-Medium"),
    url(@/assets/fonts/Suisse_Intl/SuisseIntl-Medium.woff) format("woff"),
    url(@/assets/fonts/Suisse_Intl/SuisseIntl-Medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl Bold"), local("SuisseIntl-Bold"),
  url(@/assets/fonts/Suisse_Intl/SuisseIntl-Bold.woff) format("woff"),
  url(@/assets/fonts/Suisse_Intl/SuisseIntl-Bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

/*
@font-face {
  font-family: "SuisseIntl";
  src: url(#{$path}/SuisseIntl-SemiBold.eot);
  src: local("SuisseIntl SemiBold"), local("SuisseIntl-SemiBold"),
    url(#{$path}/SuisseIntl-SemiBold.eot?#iefix) format("embedded-opentype"),
    url(#{$path}/SuisseIntl-SemiBold.woff2) format("woff2"),
    url(#{$path}/SuisseIntl-SemiBold.woff) format("woff"),
    url(#{$path}/SuisseIntl-SemiBold.ttf) format("ttf");
  font-weight: 600;
  font-style: normal;
} */
